:root {
  --sidebar-hover: #e9ecef;
  --sidebar-active: #0d6efd;
  --foreground: #495057;
  --background: #ffffff;
  --accent: #ffffff;
}

.sidebar-nav {
  width: 230px;
  height: 100vh;
  transition: transform 0.3s ease-in-out;
  transform: translateX(0);
  background: var(--background);
}

.sidebar-nav.active {
  transform: translateX(-90%);
}

.nav-link {
  color: var(--foreground);
  border-radius: 8px;
  margin: 0 15px;
  transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
}

.nav-link:hover {
  background: var(--sidebar-hover);
}

.nav-link.active {
  background: var(--sidebar-active);
  color: var(--accent);
}

.submenu {
  background: var(--background);
}

.menu-arrow {
  transition: transform 0.3s ease;
  transform: scale(0.8);
}

[aria-expanded="true"] .menu-arrow {
  transform: rotate(180deg);
}

.toggle-btn {
  position: absolute;
  right: -15px;
  top: 50%;
  transform: translateY(-50%);
  width: 32px;
  height: 32px;
  z-index: 1001;
  transition: background 0.3s ease;
}

.toggle-btn:hover {
  background: var(--sidebar-hover);
}

.input-menu-search {
  box-shadow: none;
  border: none;
}
