<nav
  id="sidebar"
  class="sidebar-nav bg-body-tertiary border-1 shadow-sm z-1 position-fixed"
  [ngClass]="{ active: !sidebarOpen }">

  <button
    class="btn btn-sm toggle-btn bg-body-tertiary shadow-sm"
    (click)="toggleSidebar()">

    <i class="fa"
      [ngClass]="sidebarOpen ? 'fa-chevron-left' : 'fa-chevron-right'">
    </i>

  </button>

  <div class="mx-4 mt-3 border-bottom">
    <input
      type="text"
      placeholder="Buscar..."
      class="form-control input-menu-search bg-body-tertiary"
      aria-label="Sizing example input"
      aria-describedby="inputGroup-sizing-sm"
      (input)="filterMenu($event)"
    />
  </div>

  <ul class="list-unstyled components">
    <li *ngFor="let item of filteredMenuItems">
      
      <div *ngIf="item.submenu && sidebarOpen; else singleLink">
        <a [attr.data-bs-target]="'#collapse' + item.label.replace(' ', '')"
          href="#"
          class="nav-link d-flex align-items-center p-3 text-dark"
          data-bs-toggle="collapse">
          <img
            [src]="'assets/svg/' + item.icon + '.svg'"
            [alt]="item.label"
            class="img-fluid me-2"
            width="20"
          />
          <span class="small">{{ item.label }}</span>
          <i class="fa fa-chevron-down ms-auto menu-arrow"></i>
        </a>
        
        <ul
          class="collapse list-unstyled ms-3"
          [id]="'collapse' + item.label.replace(' ', '')">
          <li *ngFor="let subItem of item.submenu">
            <a [routerLink]="subItem.link"
              class="nav-link d-flex align-items-center pt-1 ps-2 text-muted">
              <span class="ms-1 small">{{ subItem.label }}</span>
            </a>
          </li>
        </ul>
      </div>

      <ng-template #singleLink>
        <a [routerLink]="item.link"
          class="nav-link d-flex align-items-center p-3 text-dark">
          <img
            [src]="'assets/svg/' + item.icon + '.svg'"
            [alt]="item.label"
            class="img-fluid me-2"
            width="20"
          />
          <span>{{ item.label }}</span>
        </a>
      </ng-template>
    </li>
  </ul>
</nav>
