.sidebar-nav {
  width: 230px;
  height: 100vh;
  transition: transform 0.3s ease-in-out;
  transform: translateX(0);
  background: var(--bs-body-bg);
}

.sidebar-nav.active {
  transform: translateX(-90%);
}

.nav-link {
  cursor: pointer;
  user-select: none;
  color: var(--sidebar-text);
  border-radius: 8px;
  margin: 0 15px;
  transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
}

.nav-link:hover {
  background: var(--sidebar-hover);
}

.nav-link.active {
  background: #dde1e6;
  font-weight: bold;
}

.menu-arrow {
  transition: transform 0.3s ease;
  transform: scale(0.8);
}

[aria-expanded="true"] .menu-arrow {
  transform: rotate(180deg);
}

.toggle-btn {
  position: absolute;
  right: -15px;
  top: 50%;
  transform: translateY(-50%);
  width: 32px;
  height: 32px;
  z-index: 1001;
  transition: background 0.3s ease;
}

.toggle-btn:hover {
  background: #e9ecef;
}

.input-menu-search {
  box-shadow: none;
  border: none;
}
