<header class="container-fluid py-2 bg-body shadow-sm rounded mb-2 border-0">


  <!-- Título e icono -->
  <div class="d-flex justify-content-between align-items-center">
    <div class="d-flex align-items-center gap-3">
      <div class="bg-secondary p-3 rounded-3">
        <img src="assets/svg/file-tray-full-outline.svg" alt="file-tray-full-outline" width="60">
      </div>

      <div>
        <ol class="breadcrumb text-muted m-0 p-0 shadow-none border-0 bg-transparent">
          <li class="breadcrumb-item py-0 px-1"><a href="#" class="text-decoration-none">Customers</a></li>
          <li class="breadcrumb-item active fw-bold py-0 px-1" aria-current="page">Customers</li>
        </ol>
        <h3 class="h3 fw-bold mb-0">Customers</h3>
      </div>
    </div>

    <!-- Botón de acción -->
    <button *ngFor="let action of headerActions" type="button" [class]="'shadow-none btn btn-' + action.variant">
      <i [class]="action.icon + ' me-2'"></i> {{ action.label }}
    </button>
  </div>

</header>