<div class="custom-backdrop" *ngIf="isOpen"></div>

<div class="custom-modal" *ngIf="isOpen" [class.show]="isOpen && !isClosing" [class.hide]="isClosing" [ngClass]="size">
  <div class="modal-content p-3">
    <div class="modal-header d-block">
      <h4 class="modal-title h4 fw-bold">{{ title }}</h4>
      <p class="small text-muted mb-0" *ngIf="description">{{ description }}</p>
      <hr class="mt-1">
    </div>
    <div class="modal-body">
      <ng-content></ng-content>
    </div>
    <div class="modal-footer bg-transparent d-flex align-items-center w-100 gap-2">
      <button  type="button" class="btn btn-outline-secondary border" [disabled]="loading || isClosing" (click)="closeModal()">
        Cerrar
      </button>
    
      <button type="button" 
        [disabled]="loading || isClosing"
        (click)="action.cta()"
        class="btn btn-primary flex-grow-1 d-flex justify-content-center align-items-center">
        <span *ngIf="loading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        {{ loading ? '' : action.label }}
      </button>
    </div>
    
  </div>
</div>
