<section class="container-fluid p-1 mx-auto">
  <app-head [segments]="{ primary: 'Administración', secondary: 'Usuarios' }" [icon]="'people-outline'"
    [title]="'Listado de usuarios'" [headerActions]="headerActions">
  </app-head>

  <app-table [filters]="[
      {
        label: 'Estatus',
        options: [
          { label: 'Activo', value: 'Activo' },
          { label: 'Inactivo', value: 'Inactivo' }
        ]
      },
      {
        label: 'Tipo',
        options: [
          { label: 'A', value: 'A' },
          { label: 'B', value: 'B' },
          { label: 'C', value: 'C' }
        ]
      }
    ]" [order]="order" [searchQuery]="{ placeholder: 'Buscar...', value: '' }" 
    [columns]="[
      { textAlign: 'left', type: 'text', key: 'nombre', name: 'Nombre' },
      { textAlign: 'left', type: 'text', key: 'email', name: 'Email' },
      { textAlign: 'center', type: 'money', key: 'money', name: 'Dinero' },
      { textAlign: 'center', type: 'status', key: 'status', name: 'Estado' },
      { textAlign: 'center', type: 'datetime', key: 'date', name: 'Fecha Creación'}
    ]" [actions]="actions"
    [selectRow]="printRow"
    [selectedActions]="selectedActions" [row]="data" [total]="total" [loading]="loading"
    (pageChange)="onPageChange($event)" (rowsPerPageChange)="onRowsPerPageChange($event)">
  </app-table>
</section>

<app-modal [isOpen]="modalOpen" [title]="'Bienvenido'" [description]="'Esto es un modal reutilizaba'" [size]="'sm'"
  (close)="modalOpen = false">
  <p>Este es un modal reutilizable con tamaños dinámicos.</p>
</app-modal>