<div class="container-fluid p-4">

  <div class="row g-4">
      <div class="col-md-3" *ngFor="let card of cards">
          <div class="card h-100">
              <div class="card-body">
                  <h6 class="card-subtitle mb-2">{{ card.title }}</h6>
                  <h3 class="card-title">{{ card.value }}</h3>
                  <div class="d-flex align-items-center">
                      <i [class]="card.icon" [class]="card.color"></i>
                      <span class="ms-2">{{ card.change }}</span>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
