<div class="alert-container">
  <div *ngFor="let toast of toastService.toasts" 
       class="alert"
       [ngClass]="'alert-' + toast.variant"
       @toastAnimation>
    
    <span class="icon">
      <i *ngIf="toast.variant === 'success'" class="fa fa-check-circle text-success"></i>
      <i *ngIf="toast.variant === 'danger'" class="fa fa-times-circle text-danger"></i>
      <i *ngIf="toast.variant === 'warning'" class="fa fa-exclamation-triangle text-warning"></i>
      <i *ngIf="toast.variant === 'info'" class="fa fa-info-circle text-info"></i>
    </span>

    <div class="content">
      <strong>{{ toast.title }}</strong>
      <p class="m-0">{{ toast.message }}</p>
    </div>

    <button type="button" class="btn-close shadow-none border-0" (click)="toastService.fadeOutToast(toast.id)">
      <i class="fa fa-times"></i>
    </button>
  </div>
</div>
