/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: "Poppins";
  src: url("assets/font/Poppins-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

* {
  font-family: "Poppins", sans-serif;
}

html, body {
  height: 100vh;
  margin: 0;
  overflow: hidden; /* Evita scroll en toda la pantalla */
  display: flex;
  flex-direction: column;
}

#content {
  display: flex;
  transition: margin-left 0.3s ease-in-out;
  height: calc(100vh - 56px); /* Resta la altura del navbar (ajústalo si es diferente) */
}

#main {
  flex-grow: 1;
  overflow-y: auto; 
  overflow-x: hidden; 
  padding: 1rem;
}

.sidebar-collapsed #main {
  margin-left: 40px;
}

